:root {
    --main-color: #19356E;
    --secondary-color: #2F6690;
    --accent-color: #3A7CA5;
    --dark-color: #DFDFDF;
    --grey-color: #D3D3D3;
    --light-color: #7fc2d7;
    --main-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {

    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }

  /* SIDEBAR CSS */
  .wrapper {
    display: flex;
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    padding-top: 20px;
}

.sidebar .nav-link {
    color: white;
    font-size: 20px;
    font-family: var(--main-font);
}

.sidebar .nav-link:hover {
    background-color: #102247;
}

.sidebar-bottom {
    width: 100%;
    padding-bottom: 0;
}
.contact-info {
  display: block;
  align-items: left;
  font-size: 16px;
  font-family:var(--main-font);
}
.contact-bar {
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.151); /* Optional: Add a background for better visibility */
    border-top: 2px solid rgba(255, 255, 255, 0.2); /* Optional: Add a top border for separation */
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Optional: Add space between text and image */
}

.sidebar-image img{
  height: 100px;
  width: inherit;
}

.logout_button {
  display: flex;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: 5%;
}

.logout_button button {
  padding: 20px;
}

.navbar-brand {
  padding-left: 10px;
}



/* Main Page CSS */
.main-content {
  margin-left: 350px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

/* Footer CSS */
.footer {
  background-color: var(--dark-color);
  padding: 10px 0;
  margin-left: 300px;
}
.img{
  opacity: 0.3;
  padding-bottom: 20px;
}



.image-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    border: 2px solid #DDD;
    border-radius: 10px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    display: block;
}

.overlay-text {
    position:sticky;
    
    left: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    
}
.jumbotron {
  background-color: var(--main-color);
  color: white;
  
}








/*    LOGIN / REGISTER CSS    */

.signin {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-color);
  padding: 20px;
  border-radius: 5px;
}

.signin input {
  margin: 10px;
  padding: 5%;
  width: 270px;
}

.signin button {
  width: 20%;
  background-color: var(--accent-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 93%;
  border-radius: 5px;
}
.signin button:hover {
  opacity: 0.8;
}

.signin .register-btn {
  background-color: var(--accent-color);
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.signin .register-btn:hover {
  opacity: 0.8;
  text-decoration: none;
}

.signin h2 {
  text-align: center;
  color: var(--main-color);
}
.entry {
  background-color: var(--main-color);
}

/* Opaque Background for login page */
.entry::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/backgroundlogin.png");
  background-size: 20%;
  opacity: 0.05;
}

