:root {
    --main-color: #19356E;
    --secondary-color: #2F6690;
    --accent-color: #3A7CA5;
    --white-color: #ffffff;
    --lesserwhite-color: #f1f1f1;
    --grey-color: #D3D3D3;
    --light-color: #7fc2d7;
    --sidebar-hover: #102247;
    --main-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {

    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }

  /* .wrapper {
    display: block;
    flex: 1;
    
} */

/* 

Class to push index page contents to the back without affecting the button functions 

*/

.z-index-just {
  z-index: -1;
}

/* 
  
  SIDEBAR CSS
  
*/


.sidebar {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    padding-top: 20px;
}

.sidebar .nav-link {
    color: white;
    font-size: 20px;
    font-family: var(--main-font);
}

.sidebar .nav-link:hover {
    background-color: #102247;
}

.sidebar-bottom {
    width: 100%;
    padding-bottom: 0;
}
.contact-info {
  display: block;
  align-items: left;
  font-size: 16px;
  font-family:var(--main-font);
}
.contact-bar {
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.151); /* Optional: Add a background for better visibility */
    border-top: 2px solid rgba(255, 255, 255, 0.2); /* Optional: Add a top border for separation */
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Optional: Add space between text and image */
}

.sidebar-image img{
  height: 100px;
  width: inherit;
}

.logout_button {
  display: flex;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: 5%;
}

.logout_button_2 {
  display: none;
}

.logout_button button {
  padding: 20px;

}

.navbar-brand {
  padding-left: 10px;
}



/* 

Main Page CSS 

*/

.main-content {
  margin-left: 350px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  
}

/* 

Footer CSS 

*/

.footer {
  background-color: var(--dark-color);
  padding: 10px 0;
  margin-left: 300px;
  margin-top: auto;
}

.img{
  opacity: 0.3;
  padding-bottom: 20px;
}

.image-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    border: 2px solid #DDD;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid var(--grey-color); 
}

.image-container img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.overlay-text {
    position:sticky;
    
    left: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    
}
.jumbotron {
  background-color: var(--white-color);
  color: var(--main-color);
}

.jumbotron h1{
  font-size: 400%;
}

.row {
  margin-top: 20px;
}

/* Content Section styles */
.content-section {
  padding: 40px 0;
  background-color: var(--white-color);
}

.content-section h2 {
  font-weight: bold;
  margin-top: 0;
  color: #337ab7;
}

.content-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Timeline styles */
.timeline {
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline-item {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.timeline-item:last-child {
  border-bottom: none;
}

.timeline-item h3 {
  font-weight: bold;
  margin-top: 0;
}

.timeline-item p {
  font-size: 16px;
  color: #666;
}

/* Testimonials styles */
.testimonials {
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.testimonial {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.testimonial:last-child {
  border-bottom: none;
}

.testimonial p {
  font-size: 16px;
  color: #666;
  font-style: italic;
}

.testimonial h3 {
  font-weight: bold;
  margin-top: 0;
  color: #337ab7;
}


/*    

LOGIN / REGISTER CSS    

*/

.signin {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-color);
  padding: 20px;
  border-radius: 5px;
  background-color: #DDD;
}

.signin input {
  margin: 10px;
  padding: 5%;
  width: 270px;
}

.signin button {
  width: 20%;
  background-color: var(--accent-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 93%;
  border-radius: 5px;
}
.signin button:hover {
  opacity: 0.8;
}

.signin .register-btn,.signin .login-btn{
  background-color: var(--accent-color);
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.signin .register-btn:hover {
  opacity: 0.8;
  text-decoration: none;
}

.signin h2 {
  text-align: center;
  color: var(--main-color);
}
.entry {
  background-color: var(--main-color);
}

/* 

Opaque Background for login page 

*/
.entry::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/backgroundlogin.png");
  background-size: 20%;
  opacity: 0.05;
}


/* 

WARNING POPUP 

*/

.warning {
  background-color: #ffdddd;
  border-left: 12px solid #f44336;
  height: 10%;
}

.warning p{
  text-align: left;
  padding: 2.5%
}

.notsobad-warning {
  background-color: #edffdd;
  border-left: 12px solid #27c134;
  height: 10%;
}
.notsobad-warning p{
  text-align: left;
  padding: 2.5%
}


/* 

ATTENDEES TABLE 

*/

.attendees_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;    
}

.attendees_table th{
border-bottom: 1px solid #ddd;
background-color: var(--main-color);
color: var(--white-color);
}

.attendees_table th, td {
text-align: left;
padding: 10px;
}

.attendees_table tr:nth-child(even) {
background-color: #f2f5ff;
}

.search-form {
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--white-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form label {
  margin-bottom: 0;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

.search-form input[type="text"], .search-form select {
  width: 150px;
  height: 30px;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: var(--main-font);
}

.search-form input[type="submit"] {
  width: 50px;
  height: 30px;
  background-color: var(--main-color);
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-family: var(--main-font);
  margin-left: 10px;
}

.search-form input[type="submit"]:hover {
  background-color: var(--sidebar-hover);
}

.search-form .form-control:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 

PRODUCT CARDS 

*/

/*
.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  width: 200px;
}
.product-card img {
  max-width: 100%;
  height: auto;
}
.product-card h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}
.product-card p {
  font-size: 1em;
  color: #555;
}
.product-card .price {
  font-size: 1.2em;
  color: #000;
}
.product-card .stock {
  font-size: 1em;
  color: green;
}
*/

.card-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.card img{
  padding-bottom: 15px;
  width: 300px;
  height: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  font-family: arial;
  margin: 0px 30px 40px 30px;
  z-index: 1;  
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgba(0, 100, 176, 0.437);
  color: rgb(0, 0, 176);
  text-align:center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


/* 

BOOKING PAGE 

*/

.booking-flex {
  display: flex;
}

.booking-container {
  max-width: 600px;
  width: 100%;
  margin: 15px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.booking-container h1 {
  text-align: center;
  color: #1e90ff;
}
.booking-container form {
  display: flex;
  flex-direction: column;
}
.booking-container label {
  margin-bottom: 10px;
  color: #000000;
}
.booking-container input[type="text"], input[type="email"], input[type="tel"], input[type="number"]{
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.checkbox-group label {
  margin-bottom: 5px;
}
.booking-container input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 4px;
}
.booking-container input[type="submit"]:hover {
  background-color: var(--main-color);
}

.reg-book-btn {
  margin-top: auto;
}

/* 

SIDEBAR STORE DROPDOWN 

*/

.store-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 3;
}


.store-dropdown-menu {
  position:absolute;
  top: 100%;
  left: 0;
  display: none;
  left: 103.5%;
  top: 0%;
  background-color: var(--main-color);
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
}

/* Teeny Weeny Little Arrow On The Teeny Weeny Little Store Dropdown */
.store-dropdown-menu::before {
  content: "";
  position: absolute;
  left: -15px; /* adjust this value to position the arrow correctly */
  top:  12.5%; /* adjust this value to position the arrow vertically */
  transform: translateY(-50%);
  border-right: 20px solid var(--main-color);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 3;

}


.store-dropdown:hover .store-dropdown-menu,
.store-dropdown:focus .store-dropdown-menu,
.store-dropdown:focus-within .store-dropdown-menu {
  display: block;  
  z-index: 999;
}

.store-dropdown-menu .dropdown-item {
  font-size: 20px;
  font-family: var(--main-font);
  color: white;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  z-index: 3;

}

.store-dropdown-item {
  display: block;
  margin: 15px;
  padding: 10px;
  font-size: 22.5px;
  color: var(--white-color);
  text-decoration: none;
  z-index: 3;


}

.store-dropdown-menu .dropdown-item:hover {
  background-color: var(--sidebar-hover);
  color: var(--white-color);
  z-index: 3;

}

.store-dropdown-menu .store-dropdown-item:last-child {
  border-bottom: none;
  z-index: 3;


}

.store-dropdown-item:hover {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--sidebar-hover);
  z-index: 3;

}

/*

For the Store directory page

*/


.store-dir {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  /* background-color: #f2f2f2;
  border: 1px solid #ddd; */
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* background-image: url("/images/casold.png"); */

}

.store-dir a {
  display: block;
  font-size: 40px;
  margin: 10px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 50px;
  border-radius: 25px;
  background-color: var(--lesserwhite-color);
  text-decoration: none;
  color: var(--main-color);
  transition: background-color 0.3s ease;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 300px;
  text-align: center;


}

.store-dir p {
  margin-top: auto;
  margin-bottom: auto;

}

.store-dir a:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--white-color);

}

.store-dir a:active {
  background-color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.store-dir a::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/*

FOR CART REDIRECT BUTTON

*/

.redirect_button {
  background-color: var(--white-color);
  color: var(--main-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  width: 50%;
}


/* 

CART PAGE

*/

.cart-btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  width: 35%;
}

.cart-btn:hover {
  background-color: var(--sidebar-hover);
  }
.cart-btn:active {
  background-color: var(--active-color);
}
.cart-btn:focus {
  outline: none;
  box-shadow: 0 0 10px var(--main-color);
}





/*  

For smaller devices  

*/


@media only screen and (max-width: 768px) {
  /* Make the sidebar a dropdown menu */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Create a dropdown menu for sidebar links */
  .sidebar-links {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    padding: 10px;
  }

  /* Show the dropdown menu on hover */
  .sidebar:hover .sidebar-links {
    display:block;
  }

  /* Adjust the sidebar links */
  .sidebar .nav-link {
    font-size: 16px;
    padding: 10px;
  }

  /* Keep the sidebar image visible */
  .sidebar-image img {
    height: 50px;
    width: auto;
  }

  /* Hide other sidebar elements */
  .contact-bar, .logout_button{
    display: none;
  } 

  /* Show secondary logout button inside of dropdown */
  .logout_button_2 {
    display: block;
    margin-top: 10px;
  }

  /* Adjust the main content */
  .main-content {
    margin-left: 0;
    padding: 20px;
    margin-top: 140px;  
  }


  .jumbotron h1{
    font-size: 300%;
  }

  /* Adjust the footer */
  .footer {
    margin-left: 0;
  }

  /* Adjust the booking container */
  .booking-flex {
    display: contents;
  }

  .booking-container {
    max-width: 100%;
    padding: 20px;
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 0;
  }

  /* Adjust the card container */
  .card-container {
    flex-direction: column;
  }

  /* Adjust the card */
  .card {
    margin: 20px 0;
  }

  /* Adjust the store dropdown */
  .store-dropdown-menu {
    left: 0;
    top: 100%;
  }

  .store-dropdown-menu::before {
    left: 50%;
    transform: translateX(-50%);
  }
  /* Hide the store dropdown menu on smaller devices */
  .store-dropdown-menu {
    display: none;
  }

  .store-dropdown:hover .store-dropdown-menu{
    display: none;

  }

  /* Make the store button a link to a new page */
  .store-dropdown {
    cursor: pointer;
  }

  .store-dropdown-item {
    display: none;
  }

  /* Adjust the Attendee Search to fit the screen */
  .search-form {
    padding: 10px;
    width: 100%;
  }
  .search-form label {
    margin-bottom: 5px;
  }
  .search-form input[type="text"], .search-form select {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--main-font);
  }
  .search-form input[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: var(--main-color);
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: var(--main-font);
  }


  /* Adjust the cart table */
  .cart table {
    font-size: 14px;
  }

  .cart th, td {
    padding: 8px 4px;
  }

  /* Adjust the cart forms */
  .cart form {
    display: inline-block;
    margin: 0 10px;
  }

  /* Style the cart buttons */
  .cart .cart-btn {
    font-size: 12px;
    padding: 4px 8px;
  }

  /* Adjust the total row */
  .cart tr:last-child {
    font-size: 16px;
    font-weight: bold;
  }
  .cart-inp {
    width: 50%;
  }
}